body {
    margin: 0;
    font-family: var(--text-font);
}
header {
    width:100%;
    height:100px;
    display:flex;
    justify-content: space-between;
    background-color: var(--white-smoke);
    box-shadow: var(--box-shadow);
    padding:20px;

}
header h1 {
    color:var(--logo-colour);
    font-family: var(--heading-font);
    font-size: 35px;
    margin-left:0px;
    
}
nav{
    margin-top:40px;
    justify-content: space-around;
    margin-right:30px;
}
header nav a {
    color: var(--links-colour);
    margin: 0 15px;
    text-decoration: none;
    font-size: 20px;
    left:50px;
}

header nav a:hover {
    color: var(--hover-colour);
}
.hero {
    background-size: cover;
    background-position: center;
    background-color: skyblue;
    color: var(--logo-colour);
    text-align: center;
    padding: 100px 20px;
}
.hero h2 {
    font-family: var(--heading-font);
    font-size: 3em;
}
.hero p {
    font-size: 1.5em;
    margin: 20px 0;
}
.hero button {
    font-family: var(--text-font);
    font-weight: 600;
    font-size: 20px;
    background-color: var(--white-smoke);
    outline:none;
    border-radius: 40px;
    border-color: var(--button-colour);
    box-shadow: var(--box-shadow);
    padding: 15px 30px;
    
    color: var(--background-colour);
    cursor: pointer;
    transition: background-color 0.3s;
}
.hero button:hover {
    color: var(--button-hover);
}
.features {
    width:100%;
    background-color: var(--section-colour);
    padding: 50px 20px;
    text-align: center;
}
.features h3 {
    font-family: var(--heading-font);
    color:var(--logo-colour);
    font-size: 2em;
    margin-bottom: 20px;
}
.features .feature-item {
    display: inline-block;
    width: fit-content;
    padding: 20px;
    margin: 10px;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    background-color: var(--white-smoke);
}
.features .feature-item img {
    width: 300px;
    height: 300px;
}
.features .feature-item h4 {
    font-family: var(--heading-font);
    color:var(--logo-colour);
    font-size: 1.5em;
    margin: 10px 0;
}
.features .feature-item p {
    font-size: 17px;
}
footer {
    background-color: var(--footer-colour);
    color: var(--black);
    text-align: center;
    padding: 20px;
}
footer p {
    margin: 0;
}